/* =========================
   TEMA
   ========================= */

body {
    color: var(--warna-teks);
    background-color: var(--warna-latar);
}

.navbar__judul {
    color: var(--warna-utama);
}

.navbar__menu a {
    font-weight: 500;
}

.kartu__judul {
    color: var(--warna-utama);
}

.kartu__kaki {
    font-size: 0.9rem;
}

.footer {
    color: var(--warna-teks);
    background-color: var(--warna-kartu);
}